$player_box_width: 120px;
$breakpoint-smartphone: 500px;
$breakpoint-tablet: 768px;


.single-player-wrapper {

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    min-width: 110px;
    margin: 10px;
    background-image:  url('../../assets/img/gui_elements/player_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    span{
        text-align: center;
        color: rgb(163,25,25);
        font-size: 12px;
        margin-bottom: 30px;
        font-weight: bold;
    }
}

.wrapper-all-players{
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden ;
    position: absolute;
    left: $player_box_width + 45px;
    right: $player_box_width;
    background-image: linear-gradient(to right, #18292e, #325863 50%, #18292e 100%);
    
}



.single-highlighted-player-wrapper {

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    min-width: 120px !important;
    
    background-image:  url('../../assets/img/gui_elements/player_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    span{
        text-align: center;
        color: rgb(163,25,25);
        font-size: 12px;
        margin-bottom: 30px;
        font-weight: bold;
    }
}

.current-player-wrapper{
    position: absolute;
    height: 170px !important;
    min-width: 140px !important;
    left: 0px;
    z-index: 2;
    justify-content: center !important;
    span{
        font-size: 15px;
        margin-bottom: 40px !important;
    }
}

.add-player-wrapper{
    position: absolute;
    height: 160px !important;
    min-width: $player_box_width - 30px !important;
    right: 0px;
    z-index: 2;
    background-image: none;
    span{
        font-size: 15px;
    }
}

.player-img {
    position: relative;
    background-color: black;
    width: 50%;
    padding-top: 50%;
    margin-top: 25%;
    border-radius: 100%;
    img{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
}

@media (max-width: $breakpoint-smartphone)  {
    .wrapper-all-players{
        border-top: 1.5px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .add-player-wrapper{
        bottom: 15vh;
    }
    .current-player-wrapper{
        bottom: 15vh;
    }
}

@media (min-width: $breakpoint-smartphone)  and (max-width: $breakpoint-tablet){
    .wrapper-all-players{
        border-top: 1.5px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .add-player-wrapper{
        bottom: 15vh;
    }
    .current-player-wrapper{
        bottom: 15vh;
    }
}