.players-wrapper {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-player-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 120px;
    background-color: grey;
    margin: 15px;
    span{
        background-color: khaki;
        text-align: center;
    }
}


.player-img {
    position: relative;
    background-color: khaki;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    img{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
}