.players-wrapper {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-player-wrapper {
    height: 90%;
    width: 150px;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;
}