$card_height: 20vw;
$card_width: $card_height * 346/529;
$ring_radius: 20vw;

$player_box_width: 120px;

$mat-xs: "screen and (max-width: 599px)";
$mat-sm: "screen and (min-width: 600px) and (max-width: 959px)";
$mat-md: "screen and (min-width: 960px) and (max-width: 1279px)";
$mat-lg: "screen and (min-width: 1280px) and (max-width: 1919px)";
$mat-xl: "screen and (min-width: 1920px) and (max-width: 5000px)";
$mat-lt-sm: "screen and (max-width: 599px)";
$mat-lt-md: "screen and (max-width: 959px)";
$mat-lt-lg: "screen and (max-width: 1279px)";
$mat-lt-xl: "screen and (max-width: 1919px)";
$mat-gt-xs: "screen and (min-width: 600px)";
$mat-gt-sm: "screen and (min-width: 960px)";
$mat-gt-md: "screen and (min-width: 1280px)";
$mat-gt-xl: "screen and (min-width: 1920px)";

@media #{$mat-gt-xs} {
    .card-stack{
        height: 10vw;
        left: -10vw * 346/529 * 0.5;
        bottom: $ring_radius + 0.5 * 10vw;
        
        img{
            width: 10vw * 346/529;
            height: 10vw;
            padding-bottom: 10vh;
        }
    }
  }



.game-bg {
    height: 85vh;
    width: 100vw;
    max-width: 100%;
    background-color: #cccccc;
    background-image: url('../../assets/img/gui_elements/table.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack{
    position: relative;
    height: $card_height;
    width: 0px;
    left: -$card_width * 0.5;
    bottom: $ring_radius + 0.5 * $card_height;
    
    img{
        position: absolute;
        top: 0px;
        width: $card_width;
        height: $card_height;
        transform-origin: bottom;
        padding-bottom: $ring_radius;
        transition: filter 80ms ease-in-out, padding-bottom 500ms ease-in-out,top 500ms ease-in-out,transform 500ms ease-in-out, height 500ms ease-in-out 500ms ;
        opacity: 1;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        z-index: 1;
        &:hover {
            cursor: pointer;
            filter: brightness(1.8);
        }
    }
}

.flip-card-inner {
    transform: rotateY(180deg) !important;
    &:hover {
        cursor: initial !important;
        filter: brightness(1.0) !important;
    }
}

.upper-card {
    z-index: 3 !important;
}

.second-upper-card {
    z-index: 2 !important;
}

.flip-card{
    padding-bottom: $ring_radius * 0 !important;
    top: $ring_radius * 1.5 !important;
    transform: unset !important;
}

.active{
    padding-bottom: $ring_radius * 0 !important;
    top: $ring_radius * 1.5 !important;
    transform: unset !important;
    transform: rotateY(180deg) !important;
}

.players-wrapper {
    background-color: #122024;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    
}

