$card_height: 20vw;
$ring_radius: 20vw;

.game-bg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #cccccc;
    background-image: url('../../assets/img/gui_elements/table.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack{
    position: relative;
    height: $card_height;
    width: 0px;
    bottom: $ring_radius + 0.5 * $card_height;
    img{
        position: absolute;
        top: 0px;
        height: $card_height;
        transform-origin: bottom;
        padding-bottom: $ring_radius;
        transition: filter 80ms ease-in-out, padding-bottom 500ms ease-in-out,top 500ms ease-in-out,transform 500ms ease-in-out;

        &:hover {
            cursor: pointer;
            filter: brightness(1.8);
        }
    }
    
}

.active{
    padding-bottom: $ring_radius * 0 !important;
    top: $ring_radius * 1.5 !important;
    transform: unset !important;
}
 
.top-card{
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.3) translateY(-10px);
    }
}