$card_height: 150px;
$card_width: $card_height * 346/529;
$ring_radius: 120px;

$player_box_width: 120px;

$breakpoint-width-smartphone: 500px;
$breakpoint-width-tablet: 768px;
$breakpoint-width-desktop: 1024px;

$breakpoint-height-smartphone: 700px;
$breakpoint-height-desktop: 1000px;
$breakpoint-height-bigdesktop: 1250px;


.game-bg {
    height: 85vh;
    width: 100vw;
    max-width: 100%;
    background-color: #cccccc;
    background-image: url('../../assets/img/gui_elements/table.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack{
    position: relative;
    height: 150px;
    width: 0px;
    left: -150px * 346/529 * 0.5;
    bottom: 120px + 0.5 * 150px;
    
    img{
        position: absolute;
        top: 0px;
        width: 150px * 346/529;
        height: 150px;
        transform-origin: bottom;
        padding-bottom: 120px;
        transition: filter 80ms ease-in-out, padding-bottom 500ms ease-in-out,top 500ms ease-in-out,transform 500ms ease-in-out, height 500ms ease-in-out 500ms ;
        opacity: 1;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        z-index: 1;
        &:hover {
            cursor: pointer;
            filter: brightness(1.8);
        }
    }
}



@media (max-width: $breakpoint-width-smartphone), (max-height: $breakpoint-height-smartphone) {
    .card-stack{
        height: 70px;
        left: -60px * 346/529 * 0.5;
        bottom: 60px + 0.5 * 70px;
        img{
            width: 70px * 346/529;
            height: 70px;
            padding-bottom: 60px;
        }
    }
    .flip-card{
        padding-bottom: 60px * 0 !important;
        top: 60px * 1.6 !important;
    }
    .active{
        padding-bottom: 60px * 0 !important;
        top: 60px * 1.6 !important;
    }
}

    @media (max-width: $breakpoint-width-smartphone) {
    .players-wrapper {
        height: 30vh !important;
    }
}



@media (min-width: $breakpoint-width-smartphone) and (max-width: $breakpoint-width-tablet) {
    .card-stack{
        height: 120px;
        left: -120px * 346/529 * 0.5;
        bottom: 110px + 0.5 * 120px;
        img{
            width: 120px * 346/529;
            height: 120px;
            padding-bottom: 110px;
        }
    }
    .flip-card{
        padding-bottom: 110px * 0 !important;
        top: 110px * 1.5 !important;
    }
    .active{
        padding-bottom: 110px * 0 !important;
        top: 110px * 1.5 !important;
    }
    
    .players-wrapper {
        height: 30vh !important;
    }
}



@media (min-width: $breakpoint-width-tablet) and (max-width: $breakpoint-width-desktop) {
    .card-stack{
        height: 200px;
        left: -200px * 346/529 * 0.5;
        bottom: 150px + 0.5 * 200px;
        img{
            width: 200px * 346/529;
            height: 200px;
            padding-bottom: 150px;
        }
    }
    .flip-card{
        padding-bottom: 150px * 0 !important;
        top: 150px * 1.65 !important;
    }
    .active{
        padding-bottom: 150px * 0 !important;
        top: 150px * 1.65 !important;
    }
}

@media (min-width: $breakpoint-width-desktop) {
    .card-stack{
        height: 220px;
        left: -220px * 346/529 * 0.5;
        bottom: 160px + 0.5 * 220px;
        img{
            width: 220px * 346/529;
            height: 220px;
            padding-bottom: 160px;
        }
    }
    .flip-card{
        padding-bottom: 160px * 0 !important;
        top: 160px * 1.7 !important;
    }
    .active{
        padding-bottom: 160px * 0 !important;
        top: 160px * 1.7 !important;
    }
}



@media (max-height: $breakpoint-height-smartphone) and (max-width: $breakpoint-width-tablet) {
    $current_height: 200px;
    .game-bg {
        height: calc(100% - $current_height);
    }
    .players-wrapper {
        height: $current_height !important;
        
    }
}

@media (min-height: $breakpoint-height-smartphone)  and (max-height: $breakpoint-height-desktop) and (max-width: $breakpoint-width-tablet) {
    $current_height: 230px;
    .game-bg {
        height: calc(100% - $current_height);
    }
    .players-wrapper {
        height: $current_height !important;
        
    }
}

@media (min-height: $breakpoint-height-desktop)  and (max-height: $breakpoint-height-bigdesktop) and (max-width: $breakpoint-width-tablet) {
    $current_height: 310px;
    .game-bg {
        height: calc(100% - $current_height);
    }
    .players-wrapper {
        height: $current_height !important;
        
    }
}

@media (min-height: $breakpoint-height-bigdesktop) and (max-width: $breakpoint-width-tablet) {
    $current_height: 370px;
    .game-bg {
        height: calc(100% - $current_height);
    }
    .players-wrapper {
        height: $current_height !important;
        
    }
}




@media (max-height: $breakpoint-height-smartphone) and (min-width: $breakpoint-width-tablet) {
    .game-bg {
        height: 85vh;
    }
}

@media (min-height: $breakpoint-height-smartphone)  and (max-height: $breakpoint-height-desktop) and (min-width: $breakpoint-width-tablet) {
    .game-bg {
        height: 85vh;
    }
}

@media (min-height: $breakpoint-height-desktop)  and (max-height: $breakpoint-height-bigdesktop) and (min-width: $breakpoint-width-tablet) {
    .game-bg {
        height: 85vh;
    }
}

@media (min-height: $breakpoint-height-bigdesktop) and (min-width: $breakpoint-width-tablet) {
    .game-bg {
        height: 85vh;
    }
}






.flip-card-inner {
    transform: rotateY(180deg) !important;
    &:hover {
        cursor: initial !important;
        filter: brightness(1.0) !important;
    }
}

.upper-card {
    z-index: 3 !important;
}

.second-upper-card {
    z-index: 2 !important;
}

.flip-card{
    padding-bottom: $ring_radius * 0 !important;
    top: $ring_radius * 1.6 ;
    transform: unset !important;
}

.active{
    padding-bottom: $ring_radius * 0 !important;
    top: $ring_radius * 1.6 !important;
    transform: unset !important;
    transform: rotateY(180deg) !important;
}

.players-wrapper {
    background-color: #122024;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.info-card-game-wrapper {
    //background-color: #122024;
    height: 15vh;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
}