

<div class="game-bg">
    <div class="card-stack">
        <ng-container *ngFor="let c of cards_ids; let i = index">
            <img [class.upper-card]="selected_index == c" [class.second-upper-card]="last_selected_index == c" [class.active]="deletables.indexOf(i)>-1" [id]="c"
                (click)="setIndex(i)" [ngStyle]="{'transform': 'rotate(' + c * (360/53) +'deg)' }"
                src="assets/img/cards/bg/gray_back.png">
            <img [class.upper-card]="selected_index == c" [class.second-upper-card]="last_selected_index == c" class="flip-card-inner" [class.flip-card]="deletables.indexOf(i)>-1" [id]="c"
                (click)="setIndex(i)" [ngStyle]="{'transform': 'rotate(' + c * (360/53) +'deg)' }"
                src="{{ game.cards[c].img }}">
        </ng-container>
    </div>
</div>

<div >
    <button class="restart-btn" mat-fab color="basic" (click)="openQueryDialog()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>



<app-player [game]="game" class="players-wrapper"></app-player>
<app-info-card-game  [game]="game" class="info-card-game-wrapper"></app-info-card-game>
